body{
    font-family: lato;

}

h3{
    text-align: center;
}

.preview-box{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgb(219, 219, 219);
    margin: 20px;
    border-radius: 10px;
}

.img-container2{
    display: flex;
    width: inherit;
    height: 200px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}



.main-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center
}


.main-container h4{
    padding-left: 20px;
    text-decoration: none;
}