body{
    font-family: Helvetica neue;

}

h3{
    text-align: center;
}

.preview-box{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgb(219, 219, 219);
    margin: 20px;
    border-radius: 10px;
}

.img-container2{
    display: flex;
    width: inherit;
    height: 200px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}



.main-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center
}


.main-container h4{
    padding: 0 20px 0 20px;
    text-decoration: none;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .past-searches{
    width: 60%;
    text-decoration: none;
}